# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Local administration
local   all             postgres                                peer
local   all             all                                     peer

# Local TCP connections
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256

# Backend application
host    {{ db_name }}   {{ db_user }}   {{ backend_db_cidr }}   scram-sha-256