upstream backend_app {
    server {{ backend_private_ip }}:{{ backend_port }};
}

server {
    listen 80;

    location / {
        proxy_pass http://backend_app;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}