limit_req_zone $binary_remote_addr zone=app_limit:10m rate=1r/s;

log_format app_log
    '$remote_addr '
    '"$request" '
    'status=$status '
    'request_time=$request_time '
    'upstream_time=$upstream_response_time '
    'upstream=$upstream_addr';

upstream backend_app {
    server {{ backend_private_ip }}:{{ backend_port }};
}

server {
    listen 80;
    server_name _;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name _;

    access_log /var/log/nginx/app_access.log app_log;
    error_log /var/log/nginx/app_error.log;

    ssl_certificate {{ nginx_certificate_path }};
    ssl_certificate_key {{ nginx_private_key_path }};

    ssl_protocols TLSv1.2 TLSv1.3;

    location / {
        limit_req zone=app_limit burst=10;
        limit_req_status 429;


        proxy_pass http://backend_app;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}